@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-20%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transform-in {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 200);
    }
    20% {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}


//pulsating

  
 @keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
         opacity: 1;
        transform: scale(1.2);
    }
  }
  
  