
@each $scheme in $schemes { // start colour scheme
 
    body.#{nth($scheme, 1)}:not(.wp-admin) // ensure we're not applying to admin 
    // body.#{nth($scheme, 1)}.wp-admin .acf-block-preview // but we are applying to the block we can't target ".th-block"  because most classes in this doc are targetting rthe s
    {
  
   
        .project-overview{
        // border: 1px solid rgba(255, 0, 0, 0.185);//delete eventually
        position:absolute;
        // height: var(--site-height);
        height:var(--submenu-height);       
        top:0;
        width:100%;
        left: 0;
        right: 0;
        bottom:0px;
        z-index: 7;
       

            .intro-wrap{
            position: absolute;
            top:0px;
            z-index: 9;
            pointer-events: none;
            }

            .overview-images{
            position:relative;
            height: inherit;
            width: inherit;
            }

             ul.sections{
            // background:green;
            display: flex;
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            bottom:0px;
            

                li{
                display: block;
                position: absolute;
                height: inherit;
                width: inherit;
                // background:yellow;
                pointer-events: none;

                    a{
                    border-bottom: none;
                    height: 33.33%;
                    pointer-events: initial;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                    top:66.66%
                    }

                    &.page-is-active{
                    // display: block;
                    z-index: 7;

                        .area{
                        // display:block;
                        }

                    }//li.page-is-active

                    &.section-is-active{
                    // display: block; 
                    z-index: 7;

                        .area{
                        display:block;
                        }

                    }//li.section-is-active

                    .area{
                    display: none;
                    width:100%;
                    height:100%;
                    // background-size: contain;
                    background-repeat: no-repeat;
                    // background-position: center center;
                    }

                    &:nth-child(2){
                      
                        a{
                        top:33.33%;
                        // background:red;

                        }
                    }

                    &:nth-child(3){
                    
                        a{
                        top:0;//66.66%;
                        // background:green;
                        }

                    }

                }// li

                li.overview-bg{
                display: block;
                width:100%; 
                height:100%;
                position: relative;
                z-index: 6;

                    &.bg-is-active{
                    display: block;
                    width:100%;   
                    
                        .area{
                        display:block;
                        }

                    }

                }
                    
            }

        }  

        .sub-navigation-wrap{
        // border: 1px solid #00800047; //delete eventually
        position: sticky;
        height: var(--submenu-height);
        top:var(--headroom-height);
        display: flex;
        z-index: 8;//ensure below the page loader
        pointer-events: none;

            .sub-navigation{
            height: inherit;
            width: 100%;
            overflow: visible;
            position: relative;
            min-height: 50vh; // aim to have it display better on load

                .nav-positioner{
                transform: rotate(-90deg);
                transform-origin: top right; 
                width:var(--submenu-height);
                min-width:80vh;// maybe needs reviewing
                position:absolute;
                top:0px;
                right:0px;
                left:initial;
                bottom:initial;
                height:auto;
             
                @media (min-width: map-get($breakpoints, sm)) { 
                    right:-5vw;

                    @include fluid-type(
                    margin-right,
                    map-get($breakpoints, xs),
                    map-get($breakpoints,xxl),
                    map-get($gutter, xs) *1,
                    map-get($gutter,xxl) *1
                    );     
            
                }

                     ul.sections{
                    pointer-events: initial;
                    display: flex;
                    position: relative;
                    width:80%;/// maybe consider breakpoints here depeneind on screen sizesa and orientations
                    margin: auto;
                    max-width: 80vh;//was 80vw;

                        li{
                        display: inline-flex;
                        list-style: none;
                        margin:auto;
                        white-space: nowrap;

                            a{
                            text-decoration:none;
                            color: nth($scheme, 3);
                            border-bottom:0px;
                            @include fluid-type(
                                padding-left padding-right,
                                map-get($breakpoints, xs),
                                map-get($breakpoints,xxl),
                                map-get($lineheight, xs) * 0.25,
                                map-get($lineheight,xxl) * 0.25
                                );     
                            }

                            
                            &.line{
                            pointer-events: none;//ensure js can't interact with these li elements
                            color: nth($scheme, 3);
                            width: 100%;
                            width: -moz-available;       /* For Mozzila */
                            width: -webkit-fill-available;  /* For Chrome */
                            width: stretch;                 
                            position:relative;

                                &::after{
                                content:'';
                                border-bottom:1px solid nth($scheme, 3);
                                display: block;
                                position: absolute;
                                width: 100%;
                                left: 0;
                                right: 0;
                                top: 0;
                         
                                }
  
                            }

                            &.page-is-active{
                            border-bottom:1px solid nth($scheme, 3);
                            }

                            &.page-is-active.section-is-active{
                            border-bottom:1px solid $highlight;
                            }

                            // &.page-is-active.line,
                            &.section-is-active.line{
                            color:$highlight;
                            
                                &::after{
                                border-bottom:1px solid $highlight;                             
                                }
                            }

                            // &.page-is-active,

                            &.section-is-active{
                            
                                a{
                                color:$highlight;
                                }

                            }

                        }

                    }

                }
                
            }

        }//.sub-navigation-wrap


        


        //About +  Plan
        &.page-id-101 // local
        {

            .sub-navigation-wrap{
            min-height: 100vw; // ensures we can see everything; no cropping goibng on
            }

            .project-overview{
                      
                .intro-wrap{
                
                }
    
                .overview-images{
                // background:red;
                position:relative;
                height:var(--site-height);       
                width: 100vw;
                margin-left:-10vw;
                margin-right: -10vw;
                @include fluid-type(margin-top, map-get($breakpoints, xs), map-get($breakpoints, lg), map-get($lineheight, xs)*-4, map-get($lineheight, lg)*-4); // fixed sizing // offset grid 
                @include fluid-type(margin-top, map-get($breakpoints, lg), map-get($breakpoints, xxl), map-get($lineheight, lg)*-4, map-get($lineheight, xxl)*-4); // viewport sizing
                min-height: 100vw; // ensures we can see everything; no cropping goibng on

                  .area{
                    // background-size:175vw auto;
                    // background-position: center center;
        
                    }

                }
            }

        }



        //freeling street:
        &.page-id-104 // local
        {
            .project-overview{
                      
                .intro-wrap{
                
                }
    
                .overview-images{
                // background:red;
                position:relative;
                height:var(--site-height);       
                width: 100vw;
                margin-left:-10vw;
                margin-right: -10vw;
                @include fluid-type(margin-top, map-get($breakpoints, xs), map-get($breakpoints, lg), map-get($lineheight, xs)*-4, map-get($lineheight, lg)*-4); // fixed sizing // offset grid 
                @include fluid-type(margin-top, map-get($breakpoints, lg), map-get($breakpoints, xxl), map-get($lineheight, lg)*-4, map-get($lineheight, xxl)*-4); // viewport sizing
              
                  .area{
                    // background-size:175vw auto;
                    background-position: center center;
        
                    }

                }
            }

        }


        //estate walk:
        &.page-id-275 // local
        {
        // background:red;

                 .project-overview{
                      
                    .intro-wrap{
                    
                    }
        
                    .overview-images{
                    // background:red;
                    position:relative;
                    height:var(--site-height);       
                    width: 100vw;
                    margin-left:-10vw;
                    margin-right: -10vw;
                     @include fluid-type(margin-top, map-get($breakpoints, xs), map-get($breakpoints, lg), map-get($lineheight, xs)*-4, map-get($lineheight, lg)*-4); // fixed sizing // offset grid 
                    @include fluid-type(margin-top, map-get($breakpoints, lg), map-get($breakpoints, xxl), map-get($lineheight, lg)*-4, map-get($lineheight, xxl)*-4); // viewport sizing
                  
                      .area{
                        // background-size:175vw auto;
                        background-position: top right;
            
                        }

                    }
                }

        }

          //bridgeman road
          &.page-id-271 // local
          {
            .project-overview{
                      
                .intro-wrap{
                
                }
    
                .overview-images{
                // background:red;
                position:relative;
                height:var(--site-height);       
                width: 100vw;
                margin-left:-10vw;
                margin-right: -10vw;
                 @include fluid-type(margin-top, map-get($breakpoints, xs), map-get($breakpoints, lg), map-get($lineheight, xs)*-4, map-get($lineheight, lg)*-4); // fixed sizing // offset grid 
                @include fluid-type(margin-top, map-get($breakpoints, lg), map-get($breakpoints, xxl), map-get($lineheight, lg)*-4, map-get($lineheight, xxl)*-4); // viewport sizing
              
                  .area{
                    // background-size:175vw auto;
                    background-position: bottom left;
        
                    }

                }
            }
           
  
          }


          &.horizontal{
            // background-color: yellow;


            .area{
            background-size:100vw auto;

            }
    
                
          }

          &.vertical{
            // background-color: green;


            .area{
            background-size:auto 100vh;
            }

            
          }

        // END TO DO: how can I easily "scale up" / zoom into the image?

    }//   body.#{nth($scheme, 1)}:not(.wp-admin)

}//@each $scheme in $schemes { // start colour scheme
